
body{
    background-color: #123456;
    color: #ffffff;
}

main{    
    background-color: #654321;
    width: 400px;
    text-align: center;
    margin: auto;
}

button{
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #123456;
}

#save_el{
    margin-top: 10px;
    padding-bottom: 10px;
}